TermAdmin/src/conf/xml-resources/web-service-references/UserManagement/wsdl/localhost_8080/IDP/UserManagement.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="de.fhdo.termserver.idp.collaboration.types" xmlns:ns1="http://userManagement.idp.ws.terminologie.fhdo.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="de.fhdo.termserver.idp.collaboration.types">

<xs:import namespace="http://userManagement.idp.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/IDP/UserManagement?xsd=1" />

<xs:complexType name="collaborationuser">
<xs:sequence>
<xs:element name="activated" type="xs:boolean" minOccurs="0" />
<xs:element name="activationMd5" type="xs:string" minOccurs="0" />
<xs:element name="activationTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="assignedTerms" type="ns1:assignedTerm" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="country" type="xs:string" minOccurs="0" />
<xs:element name="deleted" type="xs:boolean" minOccurs="0" />
<xs:element name="discussiongroups" type="ns1:discussiongroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="discussions" type="ns1:discussion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="enabled" type="xs:boolean" minOccurs="0" />
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="hidden" type="xs:boolean" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="links" type="ns1:link" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="note" type="xs:string" minOccurs="0" />
<xs:element name="organisation" type="ns1:organisation" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="phone" type="xs:string" minOccurs="0" />
<xs:element name="privileges" type="ns1:privilege" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="proposals" type="ns1:proposal" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="proposalstatuschanges" type="ns1:proposalstatuschange" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="ratings" type="ns1:rating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="roles" type="tns:role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="salt" type="xs:string" minOccurs="0" />
<xs:element name="sendMail" type="xs:boolean" minOccurs="0" />
<xs:element name="street" type="xs:string" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="zip" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="role">
<xs:sequence>
<xs:element name="adminFlag" type="xs:boolean" minOccurs="0" />
<xs:element name="collaborationusers" type="tns:collaborationuser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="statuses" type="tns:status" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="statusrels" type="ns1:statusrel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="status">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0" />
<xs:element name="isPublic" type="xs:boolean" minOccurs="0" />
<xs:element name="roles" type="tns:role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="statusrelsForStatusIdFrom" type="ns1:statusrel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="statusrelsForStatusIdTo" type="ns1:statusrel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>