TermBrowser/src/conf/xml-resources/web-service-references/Authoring/wsdl/localhost_8080/TermServer/Authoring.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://authoring.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://authoring.ws.terminologie.fhdo.de/" name="Authoring">
<types>
<xsd:schema>
<xsd:import namespace="http://authoring.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/AuthoringIntern?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/AuthoringIntern?xsd=2"/>
</xsd:schema>
</types>
<message name="UpdateCodeSystemVersionStatus">
<part name="parameters" element="tns:UpdateCodeSystemVersionStatus"/>
</message>
<message name="UpdateCodeSystemVersionStatusResponse">
<part name="parameters" element="tns:UpdateCodeSystemVersionStatusResponse"/>
</message>
<message name="getCreateCodeSystemPubRunning">
<part name="parameters" element="tns:getCreateCodeSystemPubRunning"/>
</message>
<message name="getCreateCodeSystemPubRunningResponse">
<part name="parameters" element="tns:getCreateCodeSystemPubRunningResponse"/>
</message>
<message name="getRemoveTerminologyOrConceptPubRunning">
<part name="parameters" element="tns:getRemoveTerminologyOrConceptPubRunning"/>
</message>
<message name="getRemoveTerminologyOrConceptPubRunningResponse">
<part name="parameters" element="tns:getRemoveTerminologyOrConceptPubRunningResponse"/>
</message>
<message name="getRemoveTerminologyOrConceptPubResponse">
<part name="parameters" element="tns:getRemoveTerminologyOrConceptPubResponse"/>
</message>
<message name="getRemoveTerminologyOrConceptPubResponseResponse">
<part name="parameters" element="tns:getRemoveTerminologyOrConceptPubResponseResponse"/>
</message>
<message name="RemoveTerminologyOrConceptPub">
<part name="parameters" element="tns:RemoveTerminologyOrConceptPub"/>
</message>
<message name="RemoveTerminologyOrConceptPubResponse">
<part name="parameters" element="tns:RemoveTerminologyOrConceptPubResponse"/>
</message>
<message name="MaintainCodeSystemVersion">
<part name="parameters" element="tns:MaintainCodeSystemVersion"/>
</message>
<message name="MaintainCodeSystemVersionResponse">
<part name="parameters" element="tns:MaintainCodeSystemVersionResponse"/>
</message>
<message name="MaintainConceptValueSetMembership">
<part name="parameters" element="tns:MaintainConceptValueSetMembership"/>
</message>
<message name="MaintainConceptValueSetMembershipResponse">
<part name="parameters" element="tns:MaintainConceptValueSetMembershipResponse"/>
</message>
<message name="CreateValueSetConceptMetadataValue">
<part name="parameters" element="tns:CreateValueSetConceptMetadataValue"/>
</message>
<message name="CreateValueSetConceptMetadataValueResponse">
<part name="parameters" element="tns:CreateValueSetConceptMetadataValueResponse"/>
</message>
<message name="MaintainValueSetConceptMetadataValue">
<part name="parameters" element="tns:MaintainValueSetConceptMetadataValue"/>
</message>
<message name="MaintainValueSetConceptMetadataValueResponse">
<part name="parameters" element="tns:MaintainValueSetConceptMetadataValueResponse"/>
</message>
<message name="MaintainConceptAssociationType">
<part name="parameters" element="tns:MaintainConceptAssociationType"/>
</message>
<message name="MaintainConceptAssociationTypeResponse">
<part name="parameters" element="tns:MaintainConceptAssociationTypeResponse"/>
</message>
<message name="CreateConceptAssociationType">
<part name="parameters" element="tns:CreateConceptAssociationType"/>
</message>
<message name="CreateConceptAssociationTypeResponse">
<part name="parameters" element="tns:CreateConceptAssociationTypeResponse"/>
</message>
<message name="DeleteValueSetConceptMetadataValue">
<part name="parameters" element="tns:DeleteValueSetConceptMetadataValue"/>
</message>
<message name="DeleteValueSetConceptMetadataValueResponse">
<part name="parameters" element="tns:DeleteValueSetConceptMetadataValueResponse"/>
</message>
<message name="getCreateValueSetPubResponse">
<part name="parameters" element="tns:getCreateValueSetPubResponse"/>
</message>
<message name="getCreateValueSetPubResponseResponse">
<part name="parameters" element="tns:getCreateValueSetPubResponseResponse"/>
</message>
<message name="RemoveTerminologyOrConcept">
<part name="parameters" element="tns:RemoveTerminologyOrConcept"/>
</message>
<message name="RemoveTerminologyOrConceptResponse">
<part name="parameters" element="tns:RemoveTerminologyOrConceptResponse"/>
</message>
<message name="getCreateCodeSystemPubResponse">
<part name="parameters" element="tns:getCreateCodeSystemPubResponse"/>
</message>
<message name="getCreateCodeSystemPubResponseResponse">
<part name="parameters" element="tns:getCreateCodeSystemPubResponseResponse"/>
</message>
<message name="isCreateValueSetPubRunning">
<part name="parameters" element="tns:isCreateValueSetPubRunning"/>
</message>
<message name="isCreateValueSetPubRunningResponse">
<part name="parameters" element="tns:isCreateValueSetPubRunningResponse"/>
</message>
<message name="UpdateConceptValueSetMembershipStatus">
<part name="parameters" element="tns:UpdateConceptValueSetMembershipStatus"/>
</message>
<message name="UpdateConceptValueSetMembershipStatusResponse">
<part name="parameters" element="tns:UpdateConceptValueSetMembershipStatusResponse"/>
</message>
<message name="MaintainCodeSystemConceptMetadataValue">
<part name="parameters" element="tns:MaintainCodeSystemConceptMetadataValue"/>
</message>
<message name="MaintainCodeSystemConceptMetadataValueResponse">
<part name="parameters" element="tns:MaintainCodeSystemConceptMetadataValueResponse"/>
</message>
<message name="CreateCodeSystem">
<part name="parameters" element="tns:CreateCodeSystem"/>
</message>
<message name="CreateCodeSystemResponse">
<part name="parameters" element="tns:CreateCodeSystemResponse"/>
</message>
<message name="CreateValueSetPub">
<part name="parameters" element="tns:CreateValueSetPub"/>
</message>
<message name="CreateValueSetPubResponse">
<part name="parameters" element="tns:CreateValueSetPubResponse"/>
</message>
<message name="CreateConcept">
<part name="parameters" element="tns:CreateConcept"/>
</message>
<message name="CreateConceptResponse">
<part name="parameters" element="tns:CreateConceptResponse"/>
</message>
<message name="MaintainConcept">
<part name="parameters" element="tns:MaintainConcept"/>
</message>
<message name="MaintainConceptResponse">
<part name="parameters" element="tns:MaintainConceptResponse"/>
</message>
<message name="CreateValueSet">
<part name="parameters" element="tns:CreateValueSet"/>
</message>
<message name="CreateValueSetResponse">
<part name="parameters" element="tns:CreateValueSetResponse"/>
</message>
<message name="MaintainValueSet">
<part name="parameters" element="tns:MaintainValueSet"/>
</message>
<message name="MaintainValueSetResponse">
<part name="parameters" element="tns:MaintainValueSetResponse"/>
</message>
<message name="UpdateConceptStatus">
<part name="parameters" element="tns:UpdateConceptStatus"/>
</message>
<message name="UpdateConceptStatusResponse">
<part name="parameters" element="tns:UpdateConceptStatusResponse"/>
</message>
<message name="RemoveValueSetContent">
<part name="parameters" element="tns:RemoveValueSetContent"/>
</message>
<message name="RemoveValueSetContentResponse">
<part name="parameters" element="tns:RemoveValueSetContentResponse"/>
</message>
<message name="CreateCodeSystemPub">
<part name="parameters" element="tns:CreateCodeSystemPub"/>
</message>
<message name="CreateCodeSystemPubResponse">
<part name="parameters" element="tns:CreateCodeSystemPubResponse"/>
</message>
<message name="CreateValueSetContent">
<part name="parameters" element="tns:CreateValueSetContent"/>
</message>
<message name="CreateValueSetContentResponse">
<part name="parameters" element="tns:CreateValueSetContentResponse"/>
</message>
<message name="UpdateValueSetStatus">
<part name="parameters" element="tns:UpdateValueSetStatus"/>
</message>
<message name="UpdateValueSetStatusResponse">
<part name="parameters" element="tns:UpdateValueSetStatusResponse"/>
</message>
<portType name="Authoring">
<operation name="UpdateCodeSystemVersionStatus">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateCodeSystemVersionStatusRequest" message="tns:UpdateCodeSystemVersionStatus"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateCodeSystemVersionStatusResponse" message="tns:UpdateCodeSystemVersionStatusResponse"/>
</operation>
<operation name="getCreateCodeSystemPubRunning">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getCreateCodeSystemPubRunningRequest" message="tns:getCreateCodeSystemPubRunning"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getCreateCodeSystemPubRunningResponse" message="tns:getCreateCodeSystemPubRunningResponse"/>
</operation>
<operation name="getRemoveTerminologyOrConceptPubRunning">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getRemoveTerminologyOrConceptPubRunningRequest" message="tns:getRemoveTerminologyOrConceptPubRunning"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getRemoveTerminologyOrConceptPubRunningResponse" message="tns:getRemoveTerminologyOrConceptPubRunningResponse"/>
</operation>
<operation name="getRemoveTerminologyOrConceptPubResponse">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getRemoveTerminologyOrConceptPubResponseRequest" message="tns:getRemoveTerminologyOrConceptPubResponse"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getRemoveTerminologyOrConceptPubResponseResponse" message="tns:getRemoveTerminologyOrConceptPubResponseResponse"/>
</operation>
<operation name="RemoveTerminologyOrConceptPub">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/RemoveTerminologyOrConceptPubRequest" message="tns:RemoveTerminologyOrConceptPub"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/RemoveTerminologyOrConceptPubResponse" message="tns:RemoveTerminologyOrConceptPubResponse"/>
</operation>
<operation name="MaintainCodeSystemVersion">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainCodeSystemVersionRequest" message="tns:MaintainCodeSystemVersion"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainCodeSystemVersionResponse" message="tns:MaintainCodeSystemVersionResponse"/>
</operation>
<operation name="MaintainConceptValueSetMembership">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptValueSetMembershipRequest" message="tns:MaintainConceptValueSetMembership"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptValueSetMembershipResponse" message="tns:MaintainConceptValueSetMembershipResponse"/>
</operation>
<operation name="CreateValueSetConceptMetadataValue">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetConceptMetadataValueRequest" message="tns:CreateValueSetConceptMetadataValue"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetConceptMetadataValueResponse" message="tns:CreateValueSetConceptMetadataValueResponse"/>
</operation>
<operation name="MaintainValueSetConceptMetadataValue">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainValueSetConceptMetadataValueRequest" message="tns:MaintainValueSetConceptMetadataValue"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainValueSetConceptMetadataValueResponse" message="tns:MaintainValueSetConceptMetadataValueResponse"/>
</operation>
<operation name="MaintainConceptAssociationType">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptAssociationTypeRequest" message="tns:MaintainConceptAssociationType"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptAssociationTypeResponse" message="tns:MaintainConceptAssociationTypeResponse"/>
</operation>
<operation name="CreateConceptAssociationType">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateConceptAssociationTypeRequest" message="tns:CreateConceptAssociationType"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateConceptAssociationTypeResponse" message="tns:CreateConceptAssociationTypeResponse"/>
</operation>
<operation name="DeleteValueSetConceptMetadataValue">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/DeleteValueSetConceptMetadataValueRequest" message="tns:DeleteValueSetConceptMetadataValue"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/DeleteValueSetConceptMetadataValueResponse" message="tns:DeleteValueSetConceptMetadataValueResponse"/>
</operation>
<operation name="getCreateValueSetPubResponse">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getCreateValueSetPubResponseRequest" message="tns:getCreateValueSetPubResponse"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getCreateValueSetPubResponseResponse" message="tns:getCreateValueSetPubResponseResponse"/>
</operation>
<operation name="RemoveTerminologyOrConcept">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/RemoveTerminologyOrConceptRequest" message="tns:RemoveTerminologyOrConcept"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/RemoveTerminologyOrConceptResponse" message="tns:RemoveTerminologyOrConceptResponse"/>
</operation>
<operation name="getCreateCodeSystemPubResponse">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getCreateCodeSystemPubResponseRequest" message="tns:getCreateCodeSystemPubResponse"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/getCreateCodeSystemPubResponseResponse" message="tns:getCreateCodeSystemPubResponseResponse"/>
</operation>
<operation name="isCreateValueSetPubRunning">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/isCreateValueSetPubRunningRequest" message="tns:isCreateValueSetPubRunning"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/isCreateValueSetPubRunningResponse" message="tns:isCreateValueSetPubRunningResponse"/>
</operation>
<operation name="UpdateConceptValueSetMembershipStatus">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateConceptValueSetMembershipStatusRequest" message="tns:UpdateConceptValueSetMembershipStatus"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateConceptValueSetMembershipStatusResponse" message="tns:UpdateConceptValueSetMembershipStatusResponse"/>
</operation>
<operation name="MaintainCodeSystemConceptMetadataValue">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainCodeSystemConceptMetadataValueRequest" message="tns:MaintainCodeSystemConceptMetadataValue"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainCodeSystemConceptMetadataValueResponse" message="tns:MaintainCodeSystemConceptMetadataValueResponse"/>
</operation>
<operation name="CreateCodeSystem">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateCodeSystemRequest" message="tns:CreateCodeSystem"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateCodeSystemResponse" message="tns:CreateCodeSystemResponse"/>
</operation>
<operation name="CreateValueSetPub">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetPubRequest" message="tns:CreateValueSetPub"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetPubResponse" message="tns:CreateValueSetPubResponse"/>
</operation>
<operation name="CreateConcept">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateConceptRequest" message="tns:CreateConcept"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateConceptResponse" message="tns:CreateConceptResponse"/>
</operation>
<operation name="MaintainConcept">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptRequest" message="tns:MaintainConcept"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptResponse" message="tns:MaintainConceptResponse"/>
</operation>
<operation name="CreateValueSet">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetRequest" message="tns:CreateValueSet"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetResponse" message="tns:CreateValueSetResponse"/>
</operation>
<operation name="MaintainValueSet">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainValueSetRequest" message="tns:MaintainValueSet"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainValueSetResponse" message="tns:MaintainValueSetResponse"/>
</operation>
<operation name="UpdateConceptStatus">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateConceptStatusRequest" message="tns:UpdateConceptStatus"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateConceptStatusResponse" message="tns:UpdateConceptStatusResponse"/>
</operation>
<operation name="RemoveValueSetContent">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/RemoveValueSetContentRequest" message="tns:RemoveValueSetContent"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/RemoveValueSetContentResponse" message="tns:RemoveValueSetContentResponse"/>
</operation>
<operation name="CreateCodeSystemPub">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateCodeSystemPubRequest" message="tns:CreateCodeSystemPub"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateCodeSystemPubResponse" message="tns:CreateCodeSystemPubResponse"/>
</operation>
<operation name="CreateValueSetContent">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetContentRequest" message="tns:CreateValueSetContent"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetContentResponse" message="tns:CreateValueSetContentResponse"/>
</operation>
<operation name="UpdateValueSetStatus">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateValueSetStatusRequest" message="tns:UpdateValueSetStatus"/>
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateValueSetStatusResponse" message="tns:UpdateValueSetStatusResponse"/>
</operation>
</portType>
<binding name="AuthoringPortBinding" type="tns:Authoring">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="UpdateCodeSystemVersionStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCreateCodeSystemPubRunning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRemoveTerminologyOrConceptPubRunning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRemoveTerminologyOrConceptPubResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RemoveTerminologyOrConceptPub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaintainCodeSystemVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaintainConceptValueSetMembership">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateValueSetConceptMetadataValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaintainValueSetConceptMetadataValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaintainConceptAssociationType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateConceptAssociationType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteValueSetConceptMetadataValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCreateValueSetPubResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RemoveTerminologyOrConcept">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCreateCodeSystemPubResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isCreateValueSetPubRunning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateConceptValueSetMembershipStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaintainCodeSystemConceptMetadataValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCodeSystem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateValueSetPub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateConcept">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaintainConcept">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateValueSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaintainValueSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateConceptStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RemoveValueSetContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateCodeSystemPub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateValueSetContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateValueSetStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Authoring">
<port name="AuthoringPort" binding="tns:AuthoringPortBinding">
<soap:address location="http://localhost:8080/TermServer/AuthoringIntern"/>
</port>
</service>
</definitions>