TermBrowser/Administration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://administration.ws.terminologie.fhdo.de/" name="Administration" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://administration.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsp:Policy wsu:Id="AdministrationPortBindingPolicy">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://administration.ws.terminologie.fhdo.de/" schemaLocation="Administration_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="MaintainDomain">
    <part name="parameters" element="tns:MaintainDomain"/>
  </message>
  <message name="MaintainDomainResponse">
    <part name="parameters" element="tns:MaintainDomainResponse"/>
  </message>
  <message name="ExportCodeSystemContent">
    <part name="parameters" element="tns:ExportCodeSystemContent"/>
  </message>
  <message name="ExportCodeSystemContentResponse">
    <part name="parameters" element="tns:ExportCodeSystemContentResponse"/>
  </message>
  <message name="ExportValueSetContent">
    <part name="parameters" element="tns:ExportValueSetContent"/>
  </message>
  <message name="ExportValueSetContentResponse">
    <part name="parameters" element="tns:ExportValueSetContentResponse"/>
  </message>
  <message name="ImportValueSet">
    <part name="parameters" element="tns:ImportValueSet"/>
  </message>
  <message name="ImportValueSetResponse">
    <part name="parameters" element="tns:ImportValueSetResponse"/>
  </message>
  <message name="ActualProceedings">
    <part name="parameters" element="tns:ActualProceedings"/>
  </message>
  <message name="ActualProceedingsResponse">
    <part name="parameters" element="tns:ActualProceedingsResponse"/>
  </message>
  <message name="ImportCodeSystem">
    <part name="parameters" element="tns:ImportCodeSystem"/>
  </message>
  <message name="ImportCodeSystemResponse">
    <part name="parameters" element="tns:ImportCodeSystemResponse"/>
  </message>
  <message name="ImportCodeSystemStatus">
    <part name="parameters" element="tns:ImportCodeSystemStatus"/>
  </message>
  <message name="ImportCodeSystemStatusResponse">
    <part name="parameters" element="tns:ImportCodeSystemStatusResponse"/>
  </message>
  <message name="ImportValueSetStatus">
    <part name="parameters" element="tns:ImportValueSetStatus"/>
  </message>
  <message name="ImportValueSetStatusResponse">
    <part name="parameters" element="tns:ImportValueSetStatusResponse"/>
  </message>
  <message name="checkImportRunning">
    <part name="parameters" element="tns:checkImportRunning"/>
  </message>
  <message name="checkImportRunningResponse">
    <part name="parameters" element="tns:checkImportRunningResponse"/>
  </message>
  <message name="ImportCodeSystemCancel">
    <part name="parameters" element="tns:ImportCodeSystemCancel"/>
  </message>
  <message name="ImportCodeSystemCancelResponse">
    <part name="parameters" element="tns:ImportCodeSystemCancelResponse"/>
  </message>
  <message name="CreateDomain">
    <part name="parameters" element="tns:CreateDomain"/>
  </message>
  <message name="CreateDomainResponse">
    <part name="parameters" element="tns:CreateDomainResponse"/>
  </message>
  <portType name="Administration">
    <operation name="MaintainDomain">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/MaintainDomainRequest" message="tns:MaintainDomain"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/MaintainDomainResponse" message="tns:MaintainDomainResponse"/>
    </operation>
    <operation name="ExportCodeSystemContent">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ExportCodeSystemContentRequest" message="tns:ExportCodeSystemContent"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ExportCodeSystemContentResponse" message="tns:ExportCodeSystemContentResponse"/>
    </operation>
    <operation name="ExportValueSetContent">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ExportValueSetContentRequest" message="tns:ExportValueSetContent"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ExportValueSetContentResponse" message="tns:ExportValueSetContentResponse"/>
    </operation>
    <operation name="ImportValueSet">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportValueSetRequest" message="tns:ImportValueSet"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportValueSetResponse" message="tns:ImportValueSetResponse"/>
    </operation>
    <operation name="ActualProceedings">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ActualProceedingsRequest" message="tns:ActualProceedings"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ActualProceedingsResponse" message="tns:ActualProceedingsResponse"/>
    </operation>
    <operation name="ImportCodeSystem">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemRequest" message="tns:ImportCodeSystem"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemResponse" message="tns:ImportCodeSystemResponse"/>
    </operation>
    <operation name="ImportCodeSystemStatus">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemStatusRequest" message="tns:ImportCodeSystemStatus"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemStatusResponse" message="tns:ImportCodeSystemStatusResponse"/>
    </operation>
    <operation name="ImportValueSetStatus">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportValueSetStatusRequest" message="tns:ImportValueSetStatus"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportValueSetStatusResponse" message="tns:ImportValueSetStatusResponse"/>
    </operation>
    <operation name="checkImportRunning">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/checkImportRunningRequest" message="tns:checkImportRunning"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/checkImportRunningResponse" message="tns:checkImportRunningResponse"/>
    </operation>
    <operation name="ImportCodeSystemCancel">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemCancelRequest" message="tns:ImportCodeSystemCancel"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemCancelResponse" message="tns:ImportCodeSystemCancelResponse"/>
    </operation>
    <operation name="CreateDomain">
      <input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/CreateDomainRequest" message="tns:CreateDomain"/>
      <output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/CreateDomainResponse" message="tns:CreateDomainResponse"/>
    </operation>
  </portType>
  <binding name="AdministrationPortBinding" type="tns:Administration">
    <wsp:PolicyReference URI="#AdministrationPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="MaintainDomain">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ExportCodeSystemContent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ExportValueSetContent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ImportValueSet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ActualProceedings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ImportCodeSystem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ImportCodeSystemStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ImportValueSetStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkImportRunning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ImportCodeSystemCancel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateDomain">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Administration">
    <port name="AdministrationPort" binding="tns:AdministrationPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

