PUB/PubTermAdmin/web/WEB-INF/wsdl/localhost_8080/IDP/UserManagement.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://userManagement.idp.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://userManagement.idp.ws.terminologie.fhdo.de/" name="UserManagement">
<types>
<xsd:schema>
<xsd:import namespace="http://userManagement.idp.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/IDP/UserManagement?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.idp.types" schemaLocation="http://localhost:8080/IDP/UserManagement?xsd=2" />
</xsd:schema>
</types>
<message name="getCollaborationUserList">
<part name="parameters" element="tns:getCollaborationUserList" />
</message>
<message name="getCollaborationUserListResponse">
<part name="parameters" element="tns:getCollaborationUserListResponse" />
</message>
<message name="saveCollaborationUser">
<part name="parameters" element="tns:saveCollaborationUser" />
</message>
<message name="saveCollaborationUserResponse">
<part name="parameters" element="tns:saveCollaborationUserResponse" />
</message>
<message name="getUserList">
<part name="parameters" element="tns:getUserList" />
</message>
<message name="getUserListResponse">
<part name="parameters" element="tns:getUserListResponse" />
</message>
<message name="saveTermUser">
<part name="parameters" element="tns:saveTermUser" />
</message>
<message name="saveTermUserResponse">
<part name="parameters" element="tns:saveTermUserResponse" />
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser" />
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse" />
</message>
<portType name="UserManagement">
<operation name="getCollaborationUserList">
<input wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/getCollaborationUserListRequest" message="tns:getCollaborationUserList" />
<output wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/getCollaborationUserListResponse" message="tns:getCollaborationUserListResponse" />
</operation>
<operation name="saveCollaborationUser">
<input wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/saveCollaborationUserRequest" message="tns:saveCollaborationUser" />
<output wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/saveCollaborationUserResponse" message="tns:saveCollaborationUserResponse" />
</operation>
<operation name="getUserList">
<input wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/getUserListRequest" message="tns:getUserList" />
<output wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/getUserListResponse" message="tns:getUserListResponse" />
</operation>
<operation name="saveTermUser">
<input wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/saveTermUserRequest" message="tns:saveTermUser" />
<output wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/saveTermUserResponse" message="tns:saveTermUserResponse" />
</operation>
<operation name="deleteUser">
<input wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/deleteUserRequest" message="tns:deleteUser" />
<output wsam:Action="http://userManagement.idp.ws.terminologie.fhdo.de/UserManagement/deleteUserResponse" message="tns:deleteUserResponse" />
</operation>
</portType>
<binding name="UserManagementPortBinding" type="tns:UserManagement">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCollaborationUserList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="saveCollaborationUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="saveTermUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="UserManagement">
<port name="UserManagementPort" binding="tns:UserManagementPortBinding">
<soap:address location="http://localhost:8080/IDP/UserManagement" />
</port>
</service>
</definitions>