TermAdmin/web/WEB-INF/wsdl/localhost_8080/TermServer/ConceptAssociationsIntern.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://conceptAssociation.ws.terminologie.fhdo.de/" xmlns:ns1="de.fhdo.termserver.types" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://conceptAssociation.ws.terminologie.fhdo.de/">

<xs:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/ConceptAssociationsIntern?xsd=2"/>

<xs:element name="CreateConceptAssociation" type="tns:CreateConceptAssociation"/>

<xs:element name="CreateConceptAssociationResponse" type="tns:CreateConceptAssociationResponse"/>

<xs:element name="ListConceptAssociations" type="tns:ListConceptAssociations"/>

<xs:element name="ListConceptAssociationsResponse" type="tns:ListConceptAssociationsResponse"/>

<xs:element name="MaintainConceptAssociation" type="tns:MaintainConceptAssociation"/>

<xs:element name="MaintainConceptAssociationResponse" type="tns:MaintainConceptAssociationResponse"/>

<xs:element name="ReturnConceptAssociationDetails" type="tns:ReturnConceptAssociationDetails"/>

<xs:element name="ReturnConceptAssociationDetailsResponse" type="tns:ReturnConceptAssociationDetailsResponse"/>

<xs:element name="TraverseConceptToRoot" type="tns:TraverseConceptToRoot"/>

<xs:element name="TraverseConceptToRootResponse" type="tns:TraverseConceptToRootResponse"/>

<xs:element name="UpdateConceptAssociationStatus" type="tns:UpdateConceptAssociationStatus"/>

<xs:element name="UpdateConceptAssociationStatusResponse" type="tns:UpdateConceptAssociationStatusResponse"/>

<xs:element name="associationType" type="ns1:associationType"/>

<xs:element name="codeSystem" type="ns1:codeSystem"/>

<xs:element name="codeSystemConcept" type="ns1:codeSystemConcept"/>

<xs:element name="codeSystemConceptTranslation" type="ns1:codeSystemConceptTranslation"/>

<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity"/>

<xs:element name="codeSystemEntityVersion" type="ns1:codeSystemEntityVersion"/>

<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation"/>

<xs:element name="codeSystemMetadataValue" type="ns1:codeSystemMetadataValue"/>

<xs:element name="codeSystemVersion" type="ns1:codeSystemVersion"/>

<xs:element name="codeSystemVersionEntityMembership" type="ns1:codeSystemVersionEntityMembership"/>

<xs:element name="codeSystemVersionEntityMembershipId" type="ns1:codeSystemVersionEntityMembershipId"/>

<xs:element name="conceptValueSetMembership" type="ns1:conceptValueSetMembership"/>

<xs:element name="conceptValueSetMembershipId" type="ns1:conceptValueSetMembershipId"/>

<xs:element name="createConceptAssociationResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="domain" type="ns1:domain"/>

<xs:element name="domainValue" type="ns1:domainValue"/>

<xs:element name="licenceType" type="ns1:licenceType"/>

<xs:element name="licencedUser" type="ns1:licencedUser"/>

<xs:element name="licencedUserId" type="ns1:licencedUserId"/>

<xs:element name="listConceptAssociationsResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="maintainConceptAssociationResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="metadataParameter" type="ns1:metadataParameter"/>

<xs:element name="property" type="ns1:property"/>

<xs:element name="propertyVersion" type="ns1:propertyVersion"/>

<xs:element name="returnConceptAssociationDetailsResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="session" type="ns1:session"/>

<xs:element name="sysParam" type="ns1:sysParam"/>

<xs:element name="termUser" type="ns1:termUser"/>

<xs:element name="traverseConceptToRootResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
<xs:element name="codeSystemEntityVersionRoot" type="ns1:codeSystemEntityVersion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="updateConceptAssociationStatusResponseType" type="tns:updateConceptAssociationStatusResponseType"/>

<xs:element name="valueSet" type="ns1:valueSet"/>

<xs:element name="valueSetMetadataValue" type="ns1:valueSetMetadataValue"/>

<xs:element name="valueSetVersion" type="ns1:valueSetVersion"/>

<xs:complexType name="CreateConceptAssociation">
<xs:sequence>
<xs:element name="parameter" type="tns:createConceptAssociationRequestType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createConceptAssociationRequestType">
<xs:sequence>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" minOccurs="0"/>
<xs:element name="login" type="tns:loginType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>




























<xs:complexType name="loginType">
<xs:sequence>
<xs:element name="ip" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="sessionID" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateConceptAssociationResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnType">
<xs:sequence>
<xs:element name="count" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="overallErrorCategory" type="tns:overallErrorCategory" minOccurs="0"/>
<xs:element name="status" type="tns:status" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainConceptAssociation">
<xs:sequence>
<xs:element name="parameter" type="tns:maintainConceptAssociationRequestType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="maintainConceptAssociationRequestType">
<xs:sequence>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="login" type="tns:loginType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainConceptAssociationResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateConceptAssociationStatus">
<xs:sequence>
<xs:element name="parameter" type="tns:updateConceptAssociationStatusRequestType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateConceptAssociationStatusRequestType">
<xs:sequence>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" minOccurs="0"/>
<xs:element name="login" type="tns:loginType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateConceptAssociationStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:updateConceptAssociationStatusResponseType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateConceptAssociationStatusResponseType">
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReturnConceptAssociationDetails">
<xs:sequence>
<xs:element name="parameter" type="tns:returnConceptAssociationDetailsRequestType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnConceptAssociationDetailsRequestType">
<xs:sequence>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" minOccurs="0"/>
<xs:element name="login" type="tns:loginType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReturnConceptAssociationDetailsResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraverseConceptToRoot">
<xs:sequence>
<xs:element name="parameter" type="tns:traverseConceptToRootRequestType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traverseConceptToRootRequestType">
<xs:sequence>
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0"/>
<xs:element name="directionToRoot" type="xs:boolean" minOccurs="0"/>
<xs:element name="login" type="tns:loginType" minOccurs="0"/>
<xs:element name="readEntityDetails" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TraverseConceptToRootResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
<xs:element name="codeSystemEntityVersionRoot" type="ns1:codeSystemEntityVersion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListConceptAssociations">
<xs:sequence>
<xs:element name="parameter" type="tns:listConceptAssociationsRequestType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listConceptAssociationsRequestType">
<xs:sequence>
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0"/>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" minOccurs="0"/>
<xs:element name="directionBoth" type="xs:boolean" minOccurs="0"/>
<xs:element name="login" type="tns:loginType" minOccurs="0"/>
<xs:element name="lookForward" type="xs:boolean" minOccurs="0"/>
<xs:element name="reverse" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListConceptAssociationsResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0"/>
<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="overallErrorCategory">
<xs:restriction base="xs:string">
<xs:enumeration value="INFO"/>
<xs:enumeration value="WARN"/>
<xs:enumeration value="ERROR"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="status">
<xs:restriction base="xs:string">
<xs:enumeration value="OK"/>
<xs:enumeration value="FAILURE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>