TermAdmin/src/conf/xml-resources/web-service-references/Administration/wsdl/localhost_8080/TermServer/Administration.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://administration.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://administration.ws.terminologie.fhdo.de/" name="Administration" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<wsp:Policy wsu:Id="AdministrationPortBindingPolicy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://administration.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/AdministrationIntern?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/AdministrationIntern?xsd=2"/>
</xsd:schema>
</types>
<message name="ImportCodeSystemCancel">
<part name="parameters" element="tns:ImportCodeSystemCancel"/>
</message>
<message name="ImportCodeSystemCancelResponse">
<part name="parameters" element="tns:ImportCodeSystemCancelResponse"/>
</message>
<message name="ExportCodeSystemContent">
<part name="parameters" element="tns:ExportCodeSystemContent"/>
</message>
<message name="ExportCodeSystemContentResponse">
<part name="parameters" element="tns:ExportCodeSystemContentResponse"/>
</message>
<message name="ExportValueSetContent">
<part name="parameters" element="tns:ExportValueSetContent"/>
</message>
<message name="ExportValueSetContentResponse">
<part name="parameters" element="tns:ExportValueSetContentResponse"/>
</message>
<message name="ImportCodeSystemStatus">
<part name="parameters" element="tns:ImportCodeSystemStatus"/>
</message>
<message name="ImportCodeSystemStatusResponse">
<part name="parameters" element="tns:ImportCodeSystemStatusResponse"/>
</message>
<message name="MaintainDomain">
<part name="parameters" element="tns:MaintainDomain"/>
</message>
<message name="MaintainDomainResponse">
<part name="parameters" element="tns:MaintainDomainResponse"/>
</message>
<message name="CreateDomain">
<part name="parameters" element="tns:CreateDomain"/>
</message>
<message name="CreateDomainResponse">
<part name="parameters" element="tns:CreateDomainResponse"/>
</message>
<message name="ImportCodeSystem">
<part name="parameters" element="tns:ImportCodeSystem"/>
</message>
<message name="ImportCodeSystemResponse">
<part name="parameters" element="tns:ImportCodeSystemResponse"/>
</message>
<message name="ImportValueSet">
<part name="parameters" element="tns:ImportValueSet"/>
</message>
<message name="ImportValueSetResponse">
<part name="parameters" element="tns:ImportValueSetResponse"/>
</message>
<message name="ImportValueSetStatus">
<part name="parameters" element="tns:ImportValueSetStatus"/>
</message>
<message name="ImportValueSetStatusResponse">
<part name="parameters" element="tns:ImportValueSetStatusResponse"/>
</message>
<message name="ActualProceedings">
<part name="parameters" element="tns:ActualProceedings"/>
</message>
<message name="ActualProceedingsResponse">
<part name="parameters" element="tns:ActualProceedingsResponse"/>
</message>
<portType name="Administration">
<operation name="ImportCodeSystemCancel">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemCancelRequest" message="tns:ImportCodeSystemCancel"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemCancelResponse" message="tns:ImportCodeSystemCancelResponse"/>
</operation>
<operation name="ExportCodeSystemContent">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ExportCodeSystemContentRequest" message="tns:ExportCodeSystemContent"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ExportCodeSystemContentResponse" message="tns:ExportCodeSystemContentResponse"/>
</operation>
<operation name="ExportValueSetContent">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ExportValueSetContentRequest" message="tns:ExportValueSetContent"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ExportValueSetContentResponse" message="tns:ExportValueSetContentResponse"/>
</operation>
<operation name="ImportCodeSystemStatus">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemStatusRequest" message="tns:ImportCodeSystemStatus"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemStatusResponse" message="tns:ImportCodeSystemStatusResponse"/>
</operation>
<operation name="MaintainDomain">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/MaintainDomainRequest" message="tns:MaintainDomain"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/MaintainDomainResponse" message="tns:MaintainDomainResponse"/>
</operation>
<operation name="CreateDomain">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/CreateDomainRequest" message="tns:CreateDomain"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/CreateDomainResponse" message="tns:CreateDomainResponse"/>
</operation>
<operation name="ImportCodeSystem">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemRequest" message="tns:ImportCodeSystem"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportCodeSystemResponse" message="tns:ImportCodeSystemResponse"/>
    <jaxws:bindings>
        <jaxws:enableAsyncMapping>true</jaxws:enableAsyncMapping>
    </jaxws:bindings>
</operation>
<operation name="ImportValueSet">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportValueSetRequest" message="tns:ImportValueSet"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportValueSetResponse" message="tns:ImportValueSetResponse"/>
    <jaxws:bindings>
        <jaxws:enableAsyncMapping>true</jaxws:enableAsyncMapping>
    </jaxws:bindings>
</operation>
<operation name="ImportValueSetStatus">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportValueSetStatusRequest" message="tns:ImportValueSetStatus"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ImportValueSetStatusResponse" message="tns:ImportValueSetStatusResponse"/>
</operation>
<operation name="ActualProceedings">
<input wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ActualProceedingsRequest" message="tns:ActualProceedings"/>
<output wsam:Action="http://administration.ws.terminologie.fhdo.de/Administration/ActualProceedingsResponse" message="tns:ActualProceedingsResponse"/>
</operation>
</portType>
<binding name="AdministrationPortBinding" type="tns:Administration">
<wsp:PolicyReference URI="#AdministrationPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ImportCodeSystemCancel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ExportCodeSystemContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ExportValueSetContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ImportCodeSystemStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaintainDomain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateDomain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ImportCodeSystem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ImportValueSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ImportValueSetStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualProceedings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Administration">
<port name="AdministrationPort" binding="tns:AdministrationPortBinding">
<soap:address location="http://localhost:8080/TermServer/AdministrationIntern"/>
</port>
</service>
</definitions>