TermBrowser/src/conf/xml-resources/web-service-references/Search_1/wsdl/localhost_8080/TermServer/Search.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://search.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://search.ws.terminologie.fhdo.de/" name="Search">
<types>
<xsd:schema>
<xsd:import namespace="http://search.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/SearchIntern?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/SearchIntern?xsd=2"/>
</xsd:schema>
</types>
<message name="ListCodeSystemsPub">
<part name="parameters" element="tns:ListCodeSystemsPub"/>
</message>
<message name="ListCodeSystemsPubResponse">
<part name="parameters" element="tns:ListCodeSystemsPubResponse"/>
</message>
<message name="isListValueSetsPubRunning">
<part name="parameters" element="tns:isListValueSetsPubRunning"/>
</message>
<message name="isListValueSetsPubRunningResponse">
<part name="parameters" element="tns:isListValueSetsPubRunningResponse"/>
</message>
<message name="getListValueSetsPubRespone">
<part name="parameters" element="tns:getListValueSetsPubRespone"/>
</message>
<message name="getListValueSetsPubResponeResponse">
<part name="parameters" element="tns:getListValueSetsPubResponeResponse"/>
</message>
<message name="isListGloballySearchedConceptsRunning">
<part name="parameters" element="tns:isListGloballySearchedConceptsRunning"/>
</message>
<message name="isListGloballySearchedConceptsRunningResponse">
<part name="parameters" element="tns:isListGloballySearchedConceptsRunningResponse"/>
</message>
<message name="ListGloballySearchedConceptsPub">
<part name="parameters" element="tns:ListGloballySearchedConceptsPub"/>
</message>
<message name="ListGloballySearchedConceptsPubResponse">
<part name="parameters" element="tns:ListGloballySearchedConceptsPubResponse"/>
</message>
<message name="getListGloballySearchedConceptsResponse">
<part name="parameters" element="tns:getListGloballySearchedConceptsResponse"/>
</message>
<message name="getListGloballySearchedConceptsResponseResponse">
<part name="parameters" element="tns:getListGloballySearchedConceptsResponseResponse"/>
</message>
<message name="ReturnConceptDetails">
<part name="parameters" element="tns:ReturnConceptDetails"/>
</message>
<message name="ReturnConceptDetailsResponse">
<part name="parameters" element="tns:ReturnConceptDetailsResponse"/>
</message>
<message name="ReturnValueSetDetails">
<part name="parameters" element="tns:ReturnValueSetDetails"/>
</message>
<message name="ReturnValueSetDetailsResponse">
<part name="parameters" element="tns:ReturnValueSetDetailsResponse"/>
</message>
<message name="ListDomainValues">
<part name="parameters" element="tns:ListDomainValues"/>
</message>
<message name="ListDomainValuesResponse">
<part name="parameters" element="tns:ListDomainValuesResponse"/>
</message>
<message name="ListValueSets">
<part name="parameters" element="tns:ListValueSets"/>
</message>
<message name="ListValueSetsResponse">
<part name="parameters" element="tns:ListValueSetsResponse"/>
</message>
<message name="ListCodeSystemConcepts">
<part name="parameters" element="tns:ListCodeSystemConcepts"/>
</message>
<message name="ListCodeSystemConceptsResponse">
<part name="parameters" element="tns:ListCodeSystemConceptsResponse"/>
</message>
<message name="ReturnCodeSystemDetails">
<part name="parameters" element="tns:ReturnCodeSystemDetails"/>
</message>
<message name="ReturnCodeSystemDetailsResponse">
<part name="parameters" element="tns:ReturnCodeSystemDetailsResponse"/>
</message>
<message name="ListValueSetContents">
<part name="parameters" element="tns:ListValueSetContents"/>
</message>
<message name="ListValueSetContentsResponse">
<part name="parameters" element="tns:ListValueSetContentsResponse"/>
</message>
<message name="ReturnVsConceptMetadata">
<part name="parameters" element="tns:ReturnVsConceptMetadata"/>
</message>
<message name="ReturnVsConceptMetadataResponse">
<part name="parameters" element="tns:ReturnVsConceptMetadataResponse"/>
</message>
<message name="ListDomains">
<part name="parameters" element="tns:ListDomains"/>
</message>
<message name="ListDomainsResponse">
<part name="parameters" element="tns:ListDomainsResponse"/>
</message>
<message name="ListCodeSystems">
<part name="parameters" element="tns:ListCodeSystems"/>
</message>
<message name="ListCodeSystemsResponse">
<part name="parameters" element="tns:ListCodeSystemsResponse"/>
</message>
<message name="ListMetadataParameter">
<part name="parameters" element="tns:ListMetadataParameter"/>
</message>
<message name="ListMetadataParameterResponse">
<part name="parameters" element="tns:ListMetadataParameterResponse"/>
</message>
<message name="ListConceptAssociationTypes">
<part name="parameters" element="tns:ListConceptAssociationTypes"/>
</message>
<message name="ListConceptAssociationTypesResponse">
<part name="parameters" element="tns:ListConceptAssociationTypesResponse"/>
</message>
<message name="ReturnConceptValueSetMembership">
<part name="parameters" element="tns:ReturnConceptValueSetMembership"/>
</message>
<message name="ReturnConceptValueSetMembershipResponse">
<part name="parameters" element="tns:ReturnConceptValueSetMembershipResponse"/>
</message>
<message name="ListCodeSystemsInTaxonomy">
<part name="parameters" element="tns:ListCodeSystemsInTaxonomy"/>
</message>
<message name="ListCodeSystemsInTaxonomyResponse">
<part name="parameters" element="tns:ListCodeSystemsInTaxonomyResponse"/>
</message>
<message name="ReturnConceptAssociationTypeDetails">
<part name="parameters" element="tns:ReturnConceptAssociationTypeDetails"/>
</message>
<message name="ReturnConceptAssociationTypeDetailsResponse">
<part name="parameters" element="tns:ReturnConceptAssociationTypeDetailsResponse"/>
</message>
<message name="ListValueSetContentsByTermOrCode">
<part name="parameters" element="tns:ListValueSetContentsByTermOrCode"/>
</message>
<message name="ListValueSetContentsByTermOrCodeResponse">
<part name="parameters" element="tns:ListValueSetContentsByTermOrCodeResponse"/>
</message>
<message name="ListGloballySearchedConcepts">
<part name="parameters" element="tns:ListGloballySearchedConcepts"/>
</message>
<message name="ListGloballySearchedConceptsResponse">
<part name="parameters" element="tns:ListGloballySearchedConceptsResponse"/>
</message>
<message name="checkListCodeSystemsPubRunning">
<part name="parameters" element="tns:checkListCodeSystemsPubRunning"/>
</message>
<message name="checkListCodeSystemsPubRunningResponse">
<part name="parameters" element="tns:checkListCodeSystemsPubRunningResponse"/>
</message>
<message name="getListCodeSystemsPubReturn">
<part name="parameters" element="tns:getListCodeSystemsPubReturn"/>
</message>
<message name="getListCodeSystemsPubReturnResponse">
<part name="parameters" element="tns:getListCodeSystemsPubReturnResponse"/>
</message>
<message name="ListValueSetsPub">
<part name="parameters" element="tns:ListValueSetsPub"/>
</message>
<message name="ListValueSetsPubResponse">
<part name="parameters" element="tns:ListValueSetsPubResponse"/>
</message>
<portType name="Search">
<operation name="ListCodeSystemsPub">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsPubRequest" message="tns:ListCodeSystemsPub"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsPubResponse" message="tns:ListCodeSystemsPubResponse"/>
</operation>
<operation name="isListValueSetsPubRunning">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/isListValueSetsPubRunningRequest" message="tns:isListValueSetsPubRunning"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/isListValueSetsPubRunningResponse" message="tns:isListValueSetsPubRunningResponse"/>
</operation>
<operation name="getListValueSetsPubRespone">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/getListValueSetsPubResponeRequest" message="tns:getListValueSetsPubRespone"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/getListValueSetsPubResponeResponse" message="tns:getListValueSetsPubResponeResponse"/>
</operation>
<operation name="isListGloballySearchedConceptsRunning">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/isListGloballySearchedConceptsRunningRequest" message="tns:isListGloballySearchedConceptsRunning"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/isListGloballySearchedConceptsRunningResponse" message="tns:isListGloballySearchedConceptsRunningResponse"/>
</operation>
<operation name="ListGloballySearchedConceptsPub">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListGloballySearchedConceptsPubRequest" message="tns:ListGloballySearchedConceptsPub"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListGloballySearchedConceptsPubResponse" message="tns:ListGloballySearchedConceptsPubResponse"/>
</operation>
<operation name="getListGloballySearchedConceptsResponse">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/getListGloballySearchedConceptsResponseRequest" message="tns:getListGloballySearchedConceptsResponse"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/getListGloballySearchedConceptsResponseResponse" message="tns:getListGloballySearchedConceptsResponseResponse"/>
</operation>
<operation name="ReturnConceptDetails">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptDetailsRequest" message="tns:ReturnConceptDetails"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptDetailsResponse" message="tns:ReturnConceptDetailsResponse"/>
</operation>
<operation name="ReturnValueSetDetails">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnValueSetDetailsRequest" message="tns:ReturnValueSetDetails"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnValueSetDetailsResponse" message="tns:ReturnValueSetDetailsResponse"/>
</operation>
<operation name="ListDomainValues">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainValuesRequest" message="tns:ListDomainValues"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainValuesResponse" message="tns:ListDomainValuesResponse"/>
</operation>
<operation name="ListValueSets">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetsRequest" message="tns:ListValueSets"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetsResponse" message="tns:ListValueSetsResponse"/>
</operation>
<operation name="ListCodeSystemConcepts">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemConceptsRequest" message="tns:ListCodeSystemConcepts"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemConceptsResponse" message="tns:ListCodeSystemConceptsResponse"/>
</operation>
<operation name="ReturnCodeSystemDetails">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnCodeSystemDetailsRequest" message="tns:ReturnCodeSystemDetails"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnCodeSystemDetailsResponse" message="tns:ReturnCodeSystemDetailsResponse"/>
</operation>
<operation name="ListValueSetContents">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetContentsRequest" message="tns:ListValueSetContents"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetContentsResponse" message="tns:ListValueSetContentsResponse"/>
</operation>
<operation name="ReturnVsConceptMetadata">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnVsConceptMetadataRequest" message="tns:ReturnVsConceptMetadata"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnVsConceptMetadataResponse" message="tns:ReturnVsConceptMetadataResponse"/>
</operation>
<operation name="ListDomains">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainsRequest" message="tns:ListDomains"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainsResponse" message="tns:ListDomainsResponse"/>
</operation>
<operation name="ListCodeSystems">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsRequest" message="tns:ListCodeSystems"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsResponse" message="tns:ListCodeSystemsResponse"/>
</operation>
<operation name="ListMetadataParameter">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListMetadataParameterRequest" message="tns:ListMetadataParameter"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListMetadataParameterResponse" message="tns:ListMetadataParameterResponse"/>
</operation>
<operation name="ListConceptAssociationTypes">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListConceptAssociationTypesRequest" message="tns:ListConceptAssociationTypes"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListConceptAssociationTypesResponse" message="tns:ListConceptAssociationTypesResponse"/>
</operation>
<operation name="ReturnConceptValueSetMembership">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptValueSetMembershipRequest" message="tns:ReturnConceptValueSetMembership"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptValueSetMembershipResponse" message="tns:ReturnConceptValueSetMembershipResponse"/>
</operation>
<operation name="ListCodeSystemsInTaxonomy">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsInTaxonomyRequest" message="tns:ListCodeSystemsInTaxonomy"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsInTaxonomyResponse" message="tns:ListCodeSystemsInTaxonomyResponse"/>
</operation>
<operation name="ReturnConceptAssociationTypeDetails">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptAssociationTypeDetailsRequest" message="tns:ReturnConceptAssociationTypeDetails"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptAssociationTypeDetailsResponse" message="tns:ReturnConceptAssociationTypeDetailsResponse"/>
</operation>
<operation name="ListValueSetContentsByTermOrCode">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetContentsByTermOrCodeRequest" message="tns:ListValueSetContentsByTermOrCode"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetContentsByTermOrCodeResponse" message="tns:ListValueSetContentsByTermOrCodeResponse"/>
</operation>
<operation name="ListGloballySearchedConcepts">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListGloballySearchedConceptsRequest" message="tns:ListGloballySearchedConcepts"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListGloballySearchedConceptsResponse" message="tns:ListGloballySearchedConceptsResponse"/>
</operation>
<operation name="checkListCodeSystemsPubRunning">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/checkListCodeSystemsPubRunningRequest" message="tns:checkListCodeSystemsPubRunning"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/checkListCodeSystemsPubRunningResponse" message="tns:checkListCodeSystemsPubRunningResponse"/>
</operation>
<operation name="getListCodeSystemsPubReturn">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/getListCodeSystemsPubReturnRequest" message="tns:getListCodeSystemsPubReturn"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/getListCodeSystemsPubReturnResponse" message="tns:getListCodeSystemsPubReturnResponse"/>
</operation>
<operation name="ListValueSetsPub">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetsPubRequest" message="tns:ListValueSetsPub"/>
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetsPubResponse" message="tns:ListValueSetsPubResponse"/>
</operation>
</portType>
<binding name="SearchPortBinding" type="tns:Search">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ListCodeSystemsPub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isListValueSetsPubRunning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListValueSetsPubRespone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isListGloballySearchedConceptsRunning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListGloballySearchedConceptsPub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListGloballySearchedConceptsResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReturnConceptDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReturnValueSetDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListDomainValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListValueSets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListCodeSystemConcepts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReturnCodeSystemDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListValueSetContents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReturnVsConceptMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListDomains">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListCodeSystems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListMetadataParameter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListConceptAssociationTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReturnConceptValueSetMembership">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListCodeSystemsInTaxonomy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReturnConceptAssociationTypeDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListValueSetContentsByTermOrCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListGloballySearchedConcepts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkListCodeSystemsPubRunning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListCodeSystemsPubReturn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListValueSetsPub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Search">
<port name="SearchPort" binding="tns:SearchPortBinding">
<soap:address location="http://localhost:8080/TermServer/SearchIntern"/>
</port>
</service>
</definitions>